/* main */
html{
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --menu-color: white;
  }

body{
    font-family: 'Josefin Sans', sans-serif;
    background:  linear-gradient(rgba(0, 0, 0, 0.60), rgba(0, 0, 0, 0.60)), url("./media/friends1.webp");
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
    background-attachment: fixed;
}

/* header */
header{
    justify-self: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10vh;
}

.header-logo{
    width: 8vh;
    height: 8vh;
    margin-left: 50px;
    position: relative;
    top: 5vh;
}

.header-buttons{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 2vh;
    height: 6vh;
    width: 35%;
}

#search::placeholder{
    color: black; 
    font-size: 16px;
}

.header-button{
    display: flex;
    width: 100px;
    height: 40px;
    text-decoration: none;
    background-color: rgba(59,55,54,0.7);
    border-radius: 25px;
    border: 2px solid var(--menu-color);
    font-weight: bold;
    margin: 0 1vw;
    justify-content: center;
    align-items: center;
    color: var(--menu-color);
    &:hover{
        background-color: rgb(0, 0, 0, 0.7);
    }
}

.create-btn {
    display: flex;
    width: 170px;
    height: 40px;
    background-color: #dc5726;
    border-radius: 25px;
    border: 2px solid #dc5726;
    font-weight: bold;
    margin: 0 1vw;
    justify-content: center;
    align-items: center;
    color: var(--menu-color);
    text-decoration: none;
}

/* article */

#article{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0 0 0;
    position: relative;
}

#search-box{
    display: flex;
    justify-content: center;
    width: 70%;
    margin: 10px 0 10px 0;
}

#search{
    align-self: center;
    justify-self: center;
    width: 500px;
    height: 50px;
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 60%;
    background: #f1f1f1;
    
    &:focus {
        outline: none;
    }
}

.search-button {
    width: 20%;
    padding: 10px;
    background: #dc5726;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;

    &:hover {
        background: #ff8d64;
      }
  }

#search-results{
    display: flex;
    flex-direction: row;
    width: 100%;
    position: relative;
}

/* Filter */

#filter{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 10px;
    width: min(230px, 30%);
    min-width: 150px;
    height: auto;
    position: fixed;
    background-color: white;
    z-index: 999;
}
.filter-content{
    align-self: flex-start;
}

#filter .filter-group-item:last-child {
    margin-bottom: 30px;
}

.filter-group-item{
    margin-left: 15px;
    border-bottom: 2px solid grey;
}

.filter-header{
    display: flex;
    align-items: center;
    font-size: 20px;
    margin-left: 5px;
    height: 50px;
}

.filter-elements-box, .filter-body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


/* activities */

#activities{
    position: relative;
    margin: 0 auto 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 60%;
    background-color: #fff;
    align-items: center;
    justify-items: center;
    height: auto;
}

.activity-box-search, .activity-link{
    margin: 10px 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    min-width: 350px;
    width: 95%;
    height: 150px;
    color: #000;
    font-size: 17px;
    text-decoration: none;
    border-radius: 20px;
    background-color: white;
    flex-grow: 2;
    background-position: center;

}

.activity-box-search{
    &:hover{
        background-color: rgb(223, 223, 223);
    }
    
}

.activity-picture{
    height: 140px;
    width: 140px;
    background-size: cover;
}

#activity_1 .activity-picture{
    background-image: url("./images/activity_1.jpg");
}
#activity_2 .activity-picture{
    background-image: url("./images/activity_2.jpg");
}
#activity_3 .activity-picture{
    background-image: url("./images/activity_3.webp");
}
#activity_4 .activity-picture{
    background-image: url("./images/activity_4.webp");
}
#activity_5 .activity-picture{
    background-image: url("./images/activity_5.webp");
}
#activity_6 .activity-picture{
    background-image: url("./images/activity_6.jpg");
}

.activity-box-header{
    display: flex;
    flex-direction: row;
}

.activity-text-box{
    width: 60%;
    display: flex;
    flex-direction: column;

}

.activity-box-pic{
    margin: 10px;
    width: 50px;
    height: 50px;
    border-radius: 90%;
    object-fit: cover;
}

.activity-box-header-text{
    margin: 0 0 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.region-box{
    display: flex;
    align-items: center;
    flex-direction: row;
    margin: 0;
}

.location-icon{
    width: 20px;
    height: 20px;
    margin: 0 2px 0 0;
}

.activity-name, .activity-region{
    width: 100%;
}

.activity-name{
    font-size: 25px;
}

.activity-short-description{
    width: 80%;
    margin: 5px auto;
    justify-content: center;
}

.activity-read-more-button{
    display: flex;
    width: 150px;
    height: 50px;
    font-size: 25px;
    border-radius: 15px;
    margin: 0 2vw;
    justify-content: center;
    align-items: center;
    color: black;
    align-self: flex-end;
    margin: auto 20px 0 20px;
}

@media screen and (max-width: 1250px) {
    #activities{
        margin: 0 0 0 auto;
    }    
}

/* button */

.add-activity-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    border-radius: 50%; 
    border: 3px solid #27ae60;
    background: #2ecc71;
    text-decoration: none;
    color: #27ae60;
    transition: all .2s;
    position: absolute;
    
    bottom: 15px;
	right: 30px;

    &:hover {
      box-shadow: 0px 0 0 0 #1f1f1f,  0px 0 0 10px #27ae60;
    }
 
    &:active {
      box-shadow: 0px 0 0 11px #FFF, 0px 0 0 10px #27ae60;
    }
  }

  .add-icon{
    font-size: 45px;
    font-weight: bold;
    color: white;
    margin: 0;
  }

    /* Footer */

.copyright{
    font-size: 2vh;
    text-align: center;
    width: 100%;
    background-color: #000;
    color: #fff;
}